<div class="sidebar">
<mat-nav-list>
<mat-list-item routerLink="/admin-dashboard/welcome" routerLinkActive="active">
<mat-icon mat-list-icon>home</mat-icon>
<span mat-line>Home</span>
</mat-list-item>
<mat-list-item routerLink="/admin-dashboard/admin-profile" routerLinkActive="active">
<mat-icon mat-list-icon>account_circle</mat-icon>
<span mat-line>Profile</span>
</mat-list-item>
<mat-list-item routerLink="/admin-dashboard/list-category" routerLinkActive="active">
<mat-icon mat-list-icon>list</mat-icon>
<span mat-line>view Categories</span>
</mat-list-item>
<mat-list-item routerLink="/admin-dashboard/list-products" routerLinkActive="active">
<mat-icon mat-list-icon>list</mat-icon>
<span mat-line>List Product</span>
</mat-list-item>
<mat-list-item routerLink="/admin-dashboard/view-customers" routerLinkActive="active">
<mat-icon mat-list-icon>list</mat-icon>
<span mat-line>All Customers Address</span>
</mat-list-item>
<mat-list-item routerLink="/admin-dashboard/view-admins" routerLinkActive="active">
<mat-icon mat-list-icon>people</mat-icon>
<span mat-line>All Admins</span>
</mat-list-item>
<mat-list-item routerLink="/admin-dashboard/view-users" routerLinkActive="active">
<mat-icon mat-list-icon>people</mat-icon>
<span mat-line>All Customers</span>
</mat-list-item>
</mat-nav-list>
</div>