<div class="container">
<div style="display: flex; justify-content: end; align-items: center;">
<button mat-icon-button color="primary" aria-label="Add Admin" matTooltip="Add New Product" (click)="AddNew()">
<mat-icon>add</mat-icon>
</button>
<!-- Search input -->
<input type="text" [(ngModel)]="searchTerm" placeholder="Search..." style="width: 37vh;height: 40px;">
</div>
<table>
<thead>
<tr>
<!-- Header cells -->
<th>Category Name</th>
<th>Category Type</th>
<th>Product Name</th>
<th>Description</th>
<th>Actual Price</th>
<th>Offer Price</th>
<th>Stock Units</th>
<th>Created Date</th>
<th>Updated Date</th>
<th>Product Image</th>
<th>Actions</th>
</tr>
</thead>
<tbody>
<!-- Table rows -->
<tr *ngFor="let productResponse of products">
<ng-container *ngIf="productMatchesSearch(productResponse)">
<td>{{ productResponse.p.category.categoryName }}</td>
<td>{{ productResponse.p.category.type }}</td>
<td>{{ productResponse.p.productName }}</td>
<!-- Apply CSS for automatic text fitting -->
<td matTooltip="{{ productResponse.p.description }}" [matTooltipPosition]="'above'" matTooltipClass="custom-tooltip">Put on cursor you will see description</td>
<td>Rs.{{ productResponse.p.price }}</td>
<td>Rs.{{ productResponse.p.offeredPrice }}</td>
<td>{{ productResponse.p.stockUnit }}</td>
<td>{{ productResponse.p.createdDate }}</td>
<td>{{ productResponse.p.updatedDate }}</td>
<td><img [src]="productResponse.imageUrl" alt="{{ productResponse.p.productImage }}" width="90px" height="95px"></td>
<td>
<!-- Action buttons -->
<button mat-icon-button (click)="editP(productResponse.p.id,productResponse.p)" matTooltip="Update Product">
<mat-icon>edit</mat-icon>
</button>
<button mat-icon-button (click)="deleteP(productResponse.p.id)" matTooltip="Delete Product">
<mat-icon>delete</mat-icon>
</button>
</td>
</ng-container>
</tr>
</tbody>
</table>
<button mat-icon-button class="go-top-button" *ngIf="showGoTopButton" (click)="goToTop()" matTooltip="Go To Up">
<mat-icon>arrow_upward</mat-icon>
</button>
</div>

