<mat-card style="margin-top: 10px;margin-left: 10px;">
<br>
<h1 style="text-align: center;color: cornflowerblue;">All Customers Details</h1>
<mat-divider></mat-divider>
<table mat-table [dataSource]="customers" class="custom-table">
<!-- Username Column -->
<ng-container matColumnDef="username">
<th mat-header-cell *matHeaderCellDef> Username </th>
<td mat-cell *matCellDef="let customer">{{ customer.user?.username }}</td>
</ng-container>

<!-- Email Column -->
<ng-container matColumnDef="email">
<th mat-header-cell *matHeaderCellDef> Email </th>
<td mat-cell *matCellDef="let customer">{{ customer.user?.email }}</td>
</ng-container>

<!-- Full Name Column -->
<ng-container matColumnDef="fullName">
<th mat-header-cell *matHeaderCellDef> Full Name </th>
<td mat-cell *matCellDef="let customer">{{ customer.fullName }}</td>
</ng-container>

<!-- Phone Number Column -->
<ng-container matColumnDef="phoneNo">
<th mat-header-cell *matHeaderCellDef> Phone Number </th>
<td mat-cell *matCellDef="let customer">{{ customer.phoneNo }}</td>
</ng-container>

<!-- Pin Code Column -->
<ng-container matColumnDef="pinCode">
<th mat-header-cell *matHeaderCellDef> Pin Code </th>
<td mat-cell *matCellDef="let customer">{{ customer.pinCode }}</td>
</ng-container>

<!-- State Column -->
<ng-container matColumnDef="state">
<th mat-header-cell *matHeaderCellDef> State </th>
<td mat-cell *matCellDef="let customer">{{ customer.state }}</td>
</ng-container>

<!-- City Column -->
<ng-container matColumnDef="city">
<th mat-header-cell *matHeaderCellDef> City </th>
<td mat-cell *matCellDef="let customer">{{ customer.city }}</td>
</ng-container>

<!-- House No Column -->
<ng-container matColumnDef="houseNo">
<th mat-header-cell *matHeaderCellDef> House No </th>
<td mat-cell *matCellDef="let customer">{{ customer.houseNo }}</td>
</ng-container>

<!-- Area Name Column -->
<ng-container matColumnDef="areaName">
<th mat-header-cell *matHeaderCellDef> Area Name </th>
<td mat-cell *matCellDef="let customer">{{ customer.areaName }}</td>
</ng-container>

<!-- Type of Address Column -->
<ng-container matColumnDef="typeOfAddress">
<th mat-header-cell *matHeaderCellDef> Type of Address </th>
<td mat-cell *matCellDef="let customer">{{ customer.typeOfAddress }}</td>
</ng-container>

<!-- Header Row -->
<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

<!-- Data Rows -->
<tr mat-row *matRowDef="let customer; columns: displayedColumns;"></tr>
</table>
</mat-card>
