mat-card
{
margin-top: 10px;
margin-left: 10px;
}
.head
{
text-align: center;
text-transform: uppercase;
text-decoration: overline;
text-overflow: ellipsis;
text-shadow: 10ch;
text-rendering: geometricPrecision;
text-wrap: pretty;
}