.container {
width: 80vh;
height: 79vh;
margin: 0 auto;
}
h2 {
margin-top: 10px;
font-size: 1.5rem;
margin-bottom: 20px;
text-align: center;
}
.input-wrapper {
margin-bottom: 15px;
}
.input-wrapper input {
width: 100%;
padding: 10px;
font-size: 1rem;
border: 1px solid #ddd;
border-radius: 5px;
}
.input-wrapper input:focus {
outline: none;
border-color: #007bff; /* Change border color on focus */
}
button[type="submit"] {
width: 100%;
padding: 10px;
font-size: 1rem;
background-color: #ff9900; /* Change button background color */
border: none;
border-radius: 5px;
color: #fff;
}
.error-message {
color: red;
margin-top: 10px;
}