mat-card {
padding: 20px;
background-color: #f0f0f0; /* Light gray background */
border-radius: 8px; /* Rounded corners */
height: 100%;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow for elevation */
}

mat-grid-list {
margin-top: 10px;
width: 100%; /* Ensure the grid list takes full width */
height: 100%;
}

.product-display {
position: relative;
}

.product-image img {
width: 50vh;
height: 50vh;
object-fit: cover;
margin-bottom: 10px;
border-radius: 4px;
}

.product-details {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: #fff;
padding: 15px;
border-radius: 4px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
display: none;
}

.mat-grid-tile:hover .product-details {
display: block;
}

.product-labels {
margin-top: 10px;
}

.product-labels h4,
.product-labels h3 {
margin: 0;
font-weight: bold;
}

.product-labels h4 {
font-size: 16px;
}

.product-labels h3 {
font-size: 18px;
}

.product-details p {
font-size: 14px;
margin: 10px 0;
}

.product-price {
font-size: 16px;
}
